/* Whole page styling*/
    html, body {
        margin: 0;
        padding: 0;
        font-family: Helvetica;
        color: aliceblue;
        background-color: rgb(73, 73, 73);
    }
/* Form styling*/
    form#indexForm {
        display:flex;
        flex-direction: column;
        background-color: grey;
        width: 20vw;
        padding: 0.25%;
    }

    input {
        padding: 0.1vw;
        margin: 0.2vw;
    }

/* Anchor tags: Links*/
    a:link {
        color: aliceblue;
    }
    a:visited {
        color: rgba(165, 165, 165, 0.76);
    }
    
/* Text */
    h1 {
        margin-left: 40vw;
    }
    li {
        margin: 1vw;
    }

/* Container Styling */
    div#indexMain {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    nav#indexNav {
        width: 15%;
        height: 100%;
        border-right: 1px solid black;
    }